# Datatypes in Python

There are 4 main dayatypes in Python
1. int
2. float
3. bool
4. str
The type of a dataype can be found using the type() function

 Integer refers to positive and negative numbers inclusing zero (-4,-3,-2,-1,0,1,2,34)
 Float refers to real numbers and include numbers with decimel
 String refers to characters
 Boolean refers to an object of type Boolean can take on one of two values: True or False

In [3]:
type(1)

int

In [4]:
type(1.1)

float

In [10]:
type(1)

int

In [11]:
type("Hello")

str

In [12]:
type(True)

bool

TypeCasting means converting from one datatype to another

In [13]:
#Convert float to int - Note that the decimal part will be removed
int(2.16)

2

In [5]:
#Convert int to float
float (2)

2.0

In [6]:
#Convert a string with a number to an integer
int("1")

1

In [7]:
#Convert a string with characters to an integer will display a ValueError
int("we")

ValueError: invalid literal for int() with base 10: 'we'

In [8]:
#Convert the boolean value "True" to an integer
int(True)

1

In [15]:
#Convert 1 to boolean
bool(1)

False

In [16]:
#Convert True to float
float(True)

1.0

### Exercise Types:

In [17]:
#Write the result of 5/2
5/2

2.5

In [18]:
#Write the result of 5//2
5//2

2

In [20]:
2+3.2

5.2